@model IdentitySample.Models.RegisterViewModel
@{
    ViewBag.Title = "Registro Usuarios";

    var options = new AjaxOptions()
    {
        HttpMethod = "POST",
        OnSuccess = "AlertSuccess('El usuario se a registrado Correctamente','/UsersAdmin/')",
        OnFailure = "AlertError('El registro no se pudo completar, Intenta nuevamente','UsersAdmin/Create')",
        //Confirm = "seguro quieres hacer una prueba"
    };
}


<div class="" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Nuevo Usuario</h2>
                        
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @using (Ajax.BeginForm("Create", "UsersAdmin", options , new { @class = "form-horizontal  form-label-left", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-error" })
                            <div class="item form-group">
                                @Html.LabelFor(m => m.Nombre, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })<span class="required">*</span>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control col-md-7 col-xs-12", @required = "required", @type = "text", @placeholder = "Nombre(s) Ej. Jon Doe" })
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(m => m.ApellidoPaterno, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })<span class="required">*</span>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.ApellidoPaterno, new { @class = "form-control col-md-7 col-xs-12", @required = "required", @type = "text" })
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(m => m.ApellidoMaterno, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })<span class="required">*</span>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.ApellidoMaterno, new { @class = "form-control col-md-7 col-xs-12", @required = "required", @type = "text" })
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })<span class="required">*</span>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control col-md-7 col-xs-12", @required = "required", @type = "email", @placeholder = "Ejemplo@UnidadEjecutiva.com.mx" })
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(m => m.IdInstitucion, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })<span class="required">*</span>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.IdInstitucion, new { @class = "form-control col-md-7 col-xs-12", @required = "required", @type = "text" })
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(m => m.IdDepartamento, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })<span class="required">*</span>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.IdDepartamento, new { @class = "form-control col-md-7 col-xs-12", @required = "required", @type = "text" })
                                </div>
                            </div>

                            <div class="item form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control col-md-7 col-xs-12", @required = "required", @type = "password" })
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control col-md-7 col-xs-12", @required = "required", @type = "password" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Roles Usuario</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    @foreach (var item in (SelectList)ViewBag.RoleId)
                                    {
                                        <div class="">
                                            @if (item.Selected)
                                            {
                                                <label>
                                                    <input type="checkbox" name="SelectedRoles" value="@item.Value"  class="js-switch" checked /> @item.Text
                                                </label>
                                            }
                                            else
                                            {
                                                <label>
                                                    <input type="checkbox" name="SelectedRoles" value="@item.Value" class="js-switch" /> @item.Text
                                                </label>
                                            }
                                        </div>               
                                    }
                                </div>
                            </div>
                           
                            <div class="form-group">
                                <div class="col-md-9 col-md-offset-5">
                                    @Html.ActionLink("Cancelar", "Index", new object { }, new { @class = "btn btn-primary" })
                                    <button id="send" class="btn btn-success">Guardar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>