@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "Informacion Usuario";
}

<div class="col-sm-12">
    <div class="col-sm-2 text-left">
        <strong> @Html.DisplayNameFor(model => model.UserName):</strong>
    </div>
    <div class="col-sm-10 text-right">
        <em>@Html.DisplayFor(model => model.UserName)</em>
    </div>
    <div class="col-sm-2 text-left">
        <strong> @Html.DisplayNameFor(model => model.Email):</strong>
    </div>
    <div class="col-sm-10 text-right">
        <em>@Html.DisplayFor(model => model.Email)</em>
    </div>
    <div class="col-sm-2 text-left">
        <strong> @Html.DisplayNameFor(model => model.Nombre):</strong>
    </div>
    <div class="col-sm-10 text-right">
        <em>@Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.ApellidoPaterno) @Html.DisplayFor(model => model.ApellidoMaterno)</em>
    </div>
    <div class="col-sm-2 text-left">
        <strong> @Html.DisplayNameFor(model => model.IdInstitucion):</strong>
    </div>
    <div class="col-sm-10 text-right">
        <em>@Html.DisplayFor(model => model.IdInstitucion)</em>
    </div>
    <div class="col-sm-2 text-left">
        <strong> @Html.DisplayNameFor(model => model.IdDepartamento):</strong>
    </div>
    <div class="col-sm-10 text-right">
        <em>@Html.DisplayFor(model => model.IdDepartamento)</em>
    </div>
    <div class="col-sm-4 text-left">
        <strong> Roles usuario:</strong>
    </div>
</div>
<hr />
<div>
    @if (ViewBag.RoleNames.Count == 0)
    {
        <hr />
        <p>El usuario no tiene roles Asignados</p>
    }
    <table class="table">
        @foreach (var item in ViewBag.RoleNames)
        {
            <tr class="col-md-offset-2">
                <td>
                    <em><i class="glyphicon glyphicon-minus"></i> @item</em>
                </td>
            </tr>
        }
    </table>
</div>



