@model IEnumerable<MemotraficoV2.Models.Solicitudes>

@{
    ViewBag.Title = "Escuelas";
    string rol = MemotraficoV2.Models.Usuarios.Roles();
    int inst = MemotraficoV2.Models.Usuarios.GetInstitucion();

    const string ADMINISTRADOR_DEPENDENCIA = MemotraficoV2.Models.Colecciones.ListaRoles.ADMINISTRADOR_DEPENDENCIA;
    const string ADMINISTRADOR_SOLICITUDES = MemotraficoV2.Models.Colecciones.ListaRoles.ADMINISTRADOR_SOLICITUDES;
    const string OPERADOR = MemotraficoV2.Models.Colecciones.ListaRoles.OPERADOR;
    const string ADMINISTRATOR = MemotraficoV2.Models.Colecciones.ListaRoles.ADMINISTRATOR;

    const int CANALIZADO = MemotraficoV2.Models.Colecciones.ListaEstatus.CANALIZADO;
    const int CANCELADO = MemotraficoV2.Models.Colecciones.ListaEstatus.CANCELADO;
    const int INICIADO = MemotraficoV2.Models.Colecciones.ListaEstatus.INICIADO;
}
<style>
    span.nivel {
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 1.5em; 
    height: 1.5em;


    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
</style>

<div class="" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">

            </div>

        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        @* titulo *@
                        <h2>Solicitudes</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div id="ListSolicitudes"></div>

                        @*<table id="datatable" class="table table-solicitudes table-striped table-bordered dt-responsive nowrap">
                            <thead>
                                <tr class="text-center">
                                    <th>Beneficiario</th>
                                    <th>Folio</th>
                                    <th>Fecha Entrega</th>
                                    <th>Localidad</th>
                                    <th>Nivel</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @if (item.IdEscuelaFk > 0)
                                    {
                                        <td>@item.Escuela.Clave @item.Escuela.Nombre</td>
                                        <td>@item.Folio</td>
                                        <td>@item.FechaEntrega.Value.ToString("dd/MM/yyyy")</td>
                                        <td>@item.Escuela.Localidades.Nombre, @item.Escuela.Municipios.Nombre</td>
                                        <td class="text-center"><span class="nivel" style="background-color:@(item.NivelImportancia.Color)">N </span></td>

                                        }
                                        @if (item.IdBeneficiarioFk > 0)
                                        {
                                            <td>@item.Beneficiario.Nombre</td>
                                            <td>@item.Folio</td>
                                            <td>@item.FechaEntrega.Value.ToString("dd/MM/yyyy")</td>
                                            <td>@item.Beneficiario.Localidades.Nombre, @item.Beneficiario.Municipios.Nombre</td>
                                            <td class="text-center"><span class="nivel" style="background-color:@(item.NivelImportancia.Color)">N </span></td>
                                        }
                                        
                                        <td>
                                            <div class="btn-group">
                                                @if (item.IdEstatusFk == CANCELADO)
                                                {
                                                <button name="Solicitud"
                                                        type="button" class="btn btn-warning btn-sm"
                                                        data-toggle="modal" data-target=".bs-example-modal-lg"
                                                        value="@item.IdSolicitud" data-value="@rol"
                                                        data-evento="SolicitudCancelada">
                                                     Abrir o Cerrar Solicitud
                                                </button>
                                                }
                                                else
                                                {*@
                                                    
                                                        @*<button name="Solicitud"
                                                                type="button" class="btn btn-info btn-sm"
                                                                data-toggle="modal" data-target=".bs-example-modal-lg" value="@item.IdSolicitud"
                                                                data-value="@rol"
                                                                data-evento="PasarADependenciaICHIFE">
                                                            Canalizar Asunto General
                                                        </button>*@

                                                        @*<button name="Solicitud"
                                                                type="button" class="btn btn-info btn-sm"
                                                                data-toggle="modal" data-target=".bs-example-modal-lg" value="@item.IdSolicitud"
                                                                data-value="@rol"
                                                                data-evento="PasarADependencia">
                                                            Info Solicitud
                                                        </button>
                                                }
                                                    <button name="Solicitud"
                                                            type="button" class="btn btn-dark btn-sm"
                                                            data-toggle="modal" data-target=".bs-example-modal-lg" value="@item.IdSolicitud"
                                                            data-value="@rol"
                                                            data-evento="HistorialSolicitud">
                                                        Historial Solicitud
                                                    </button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title text-center" id="Titulo"></h4>
            </div>
            <div class="modal-body">
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            let config = {
                class: 'table-striped table-bordered',
                columnas: [
                    { leyenda: 'Beneficiario', columna: 'Name', ordenable: true, filtro: true, class: 'text-center col-md-3' },
                    { leyenda: 'Folio', columna: 'folio', class: 'col-md-2', ordenable: true, filtro: true },
                    { leyenda: 'Fecha Entrega', columna: 'fecha', class: 'text-center col-md-2', ordenable: true },
                    { leyenda: 'Estatus', columna: 'estatus', class: 'col-md-2', ordenable: true, filtro: true },
                    { leyenda: 'Nivel', columna: 'nivel', class: 'text-center col-md-1', ordenable: true },
                    { leyenda: 'Acciones', class: 'text-center col-md-2'  },
                ],
                modelo: [
                    { propiedad: 'Name' },
                    { propiedad: 'folio', class: 'text-center' },
                    { propiedad: 'fecha' },
                    {
                        propiedad: 'estatus', class: 'text-center', formato: function (tr, obj, valor) {
                            let e = "";
                            switch (obj.estatus) {
                                case 1: e = "Iniciada";
                                    break;
                                case 2: e = "Canalizado";
                                    break;
                                case 3: e = "Cerrado";
                                    break;
                                case 4: e = "Cancelado";
                                    break;
                                case 5: e = "Atendido";
                                    break;
                            }
                            return e;
                        }
                    },
                    {
                        propiedad: 'nivel', class: 'text-center', formato: function (tr, obj, valor) {
                            let e = "";
                            switch (obj.nivel) {
                                case 1: e = '<span class="nivel" style="background-color:'+ obj.colornivel + '">N </span>';
                                    break;
                                case 2: e = '<span class="nivel" style="background-color:' + obj.colornivel + '">N </span>';
                                    break;
                                case 3: e = '<span class="nivel" style="background-color:' + obj.colornivel + '">N </span>';
                                    break;
                            }
                            return e;
                        }
                    },
                    {
                        propiedad: 'Id', formato: function (tr, obj, value) {
                            let element = '';

                            switch (obj.estatus) {
                                case 1: element += '<button name="Solicitud" type="button" class="btn btn-info btn-sm" value="'+ value +'"'+
                                                   'data-value="@rol" data-evento="PasarADependencia"><i  data-toggle="tooltip" data-placement="top" title="Detalle Solicitud" class="fa fa-question-circle"></i></button>' +
                                                   '<button name="Solicitud"' +
                                                   'type="button" class="btn btn-dark btn-sm historial" value="' + value + '"' +
                                                   'data-value="@rol"data-evento="HistorialSolicitud"><i  data-toggle="tooltip" data-placement="top" title="Historial" class="fa fa-list-ul" aria-hidden="true"></i></button>';
                                    break;
                                case 2: element += '<button name="Solicitud" type="button" class="btn btn-info btn-sm" value="'+ value +'"'+
                                                   'data-value="@rol" data-evento="PasarADependencia"><i  data-toggle="tooltip" data-placement="top" title="Detalle Solicitud" class="fa fa-question-circle"></i></button>' +
                                                    '<button name="Solicitud"' +
                                                   'type="button" class="btn btn-dark btn-sm historial" value="' + value + '"' +
                                                   'data-value="@rol"data-evento="HistorialSolicitud"><i  data-toggle="tooltip" data-placement="top" title="Historial" class="fa fa-list-ul" aria-hidden="true"></i></button>';
                                    break;
                                case 3: element += '<button name="Solicitud" type="button" class="btn btn-info btn-sm" value="'+ value +'"'+
                                                   'data-value="@rol" data-evento="PasarADependencia"><i  data-toggle="tooltip" data-placement="top" title="Detalle Solicitud" class="fa fa-question-circle"></i></button>' +
                                                   '<button name="Solicitud"' +
                                                   'type="button" class="btn btn-dark btn-sm historial" value="' + value + '"' +
                                                   'data-value="@rol"data-evento="HistorialSolicitud"><i  data-toggle="tooltip" data-placement="top" title="Historial" class="fa fa-list-ul" aria-hidden="true"></i></button>';
                                    break;
                                case 4: element += '<button name="Solicitud" type="button" class="btn btn-warning btn-sm"' +
                                                   'value="' + value + '" data-value="@rol" data-evento="SolicitudCancelada">' +
                                                   'Abrir o Cerrar Solicitud</button>'+
                                                   '<button name="Solicitud"' +
                                                   'type="button" class="btn btn-dark btn-sm historial" value="' + value + '"' +
                                                   'data-value="@rol"data-evento="HistorialSolicitud"><i  data-toggle="tooltip" data-placement="top" title="Historial" class="fa fa-list-ul" aria-hidden="true"></i></button>';
                                    break;
                                case 5: element += '<button name="Solicitud" type="button" class="btn btn-info btn-sm" value="'+ value +'"'+
                                                   'data-value="@rol" data-evento="PasarADependencia"><i  data-toggle="tooltip" data-placement="top" title="Detalle Solicitud" class="fa fa-question-circle"></i></button>' +
                                                   '<button name="Solicitud"' +
                                                   'type="button" class="btn btn-dark btn-sm historial" value="' + value + '"' +
                                                   'data-value="@rol"data-evento="HistorialSolicitud"><i  data-toggle="tooltip" data-placement="top" title="Historial" class="fa fa-list-ul" aria-hidden="true"></i></button>';
                                    break;
                            }

                            return element;
                        }
                    },
                ],
                url: '@Url.Action("GetSolicitudes", "Solicitudes")',
                limite: [10, 20, 30],
                filtrable: true,
                paginable: true,
                columna: 'Name',
                columna_orden: 'ASC'
            };

            let grid = $("#ListSolicitudes").anexGrid(config);

            grid.tabla().on('click', 'button[name="Solicitud"]', function (){
                $(".bs-example-modal-lg").modal('show');

                var titulo = "";
                var url = "";
                var even = $(this).data("evento");
                var ejecuta = false;
                switch (even) {

                    case "PasarADependencia":
                        titulo = "Detalle Solicitud";
                        url = '/Solicitudes/Detalle';
                        ejecuta = true;
                        break;
                    case "SolicitudCancelada":
                        titulo = "Solicitud Cancelada";
                        url = '/Solicitudes/OpenSolicitud';
                        ejecuta = true;
                        break;
                    case "HistorialSolicitud":
                        titulo = "Historial de Solicitud";
                        url = '/Solicitudes/Historial';
                        ejecuta = true;
                        break;
                    case "PasarADependenciaICHIFE":
                        SolicitudICHIFE($(this).val());
                        break;

                }
                if (ejecuta) {
                    $.ajax({
                        type: 'GET',
                        url: url,
                        data: { solicitud: $(this).val(), rol: $(this).data("value") },
                        beforeSend: function () {
                        },
                        complete: function () {
                        },
                        success: function (html) {
                            $('.bs-example-modal-lg').find('.modal-body').empty();
                            $('.bs-example-modal-lg').find('.modal-body').append(html);
                            $('.bs-example-modal-lg').find('#Titulo').empty();
                            $('.bs-example-modal-lg').find('#Titulo').append(titulo);

                        },
                        error: function () {
                            AlertError('A ocurrido un error al cargar la informacion, intente nuevamente', null);
                            $('.bs-example-modal-lg').modal('hide');
                        }
                    });
                }

            })

        })
    </script>
}
