@model IEnumerable<MemotraficoV2.Models.Solicitudes>

@{
    ViewBag.Title = "Escuelas";
    string rol = MemotraficoV2.Models.Usuarios.Roles();
    int inst = MemotraficoV2.Models.Usuarios.GetInstitucion();

    const string ADMINISTRADOR_DEPENDENCIA = MemotraficoV2.Models.Colecciones.ListaRoles.ADMINISTRADOR_DEPENDENCIA;
    const string ADMINISTRADOR_SOLICITUDES = MemotraficoV2.Models.Colecciones.ListaRoles.ADMINISTRADOR_SOLICITUDES;
    const string OPERADOR = MemotraficoV2.Models.Colecciones.ListaRoles.OPERADOR;
    const string ADMINISTRATOR = MemotraficoV2.Models.Colecciones.ListaRoles.ADMINISTRATOR;

    const int CANALIZADO = MemotraficoV2.Models.Colecciones.ListaEstatus.CANALIZADO;
    const int CANCELADO = MemotraficoV2.Models.Colecciones.ListaEstatus.CANCELADO;
    const int INICIADO = MemotraficoV2.Models.Colecciones.ListaEstatus.INICIADO;
}

<div class="" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">

            </div>

        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        @* titulo *@
                        <h2>Solicitudes</h2>   @Html.ActionLink("Nueva Solicitud", "Registro", null, new { @class = "col-md-offset-med btn btn-primary btn-sm" })
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable" class="table table-solicitudes table-striped table-bordered dt-responsive nowrap">
                            <thead>
                                <tr class="text-center">
                                    <th>Beneficiario</th>
                                    <th>Folio</th>
                                    <th>Fecha Entrega</th>
                                    <th>Localidad</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @if (item.IdEscuelaFk > 0)
                                    {
                                        <td>@item.Escuela.Clave @item.Escuela.Nombre</td>
                                        <td>@item.Folio</td>
                                        <td>@item.FechaEntrega.Value.ToString("dd/MM/yyyy")</td>
                                        <td>@item.Escuela.Localidades.Nombre, @item.Escuela.Municipios.Nombre</td>
                                    }
                                        @if (item.IdBeneficiarioFk > 0)
                                        {
                                            <td>@item.Beneficiario.Nombre</td>
                                            <td>@item.Folio</td>
                                            <td>@item.FechaEntrega.Value.ToString("dd/MM/yyyy")</td>
                                            <td>@item.Beneficiario.Localidades.Nombre, @item.Beneficiario.Municipios.Nombre</td>
                                        }
                                        
                                        <td>
                                            <div class="btn-group">
                                                @if (item.IdEstatusFk == CANCELADO)
                                                {
                                                <button name="Solicitud"
                                                        type="button" class="btn btn-warning btn-sm"
                                                        data-toggle="modal" data-target=".bs-example-modal-lg"
                                                        value="@item.IdSolicitud" data-value="@rol"
                                                        data-evento="SolicitudCancelada">
                                                     Abrir o Cerrar Solicitud
                                                </button>
                                                }
                                                else
                                                {
                                                    if (item.IdBeneficiarioFk > 0)
                                                    {
                                                        <button name="Solicitud"
                                                                type="button" class="btn btn-info btn-sm"
                                                                data-toggle="modal" data-target=".bs-example-modal-lg" value="@item.IdSolicitud"
                                                                data-value="@rol"
                                                                data-evento="PasarADependenciaICHIFE">
                                                            Canalizar ICHIFE
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button name="Solicitud"
                                                                type="button" class="btn btn-info btn-sm"
                                                                data-toggle="modal" data-target=".bs-example-modal-lg" value="@item.IdSolicitud"
                                                                data-value="@rol"
                                                                data-evento="PasarADependencia">
                                                            Info Solicitud
                                                        </button>
                                                    }
                                                }
                                                    <button name="Solicitud"
                                                            type="button" class="btn btn-dark btn-sm"
                                                            data-toggle="modal" data-target=".bs-example-modal-lg" value="@item.IdSolicitud"
                                                            data-value="@rol"
                                                            data-evento="HistorialSolicitud">
                                                        Historial Solicitud
                                                    </button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title text-center" id="Titulo"></h4>
            </div>
            <div class="modal-body">
            </div>

        </div>
    </div>
</div>
