@{
    Layout = null;
    int? institucion = MemotraficoV2.Models.Usuarios.GetInstitucion();
    string nameInstitucion = ViewBag.Instituciones;

    var options = new AjaxOptions()
    {
        HttpMethod = "POST",
        OnFailure = "onFailure",
        OnSuccess = "onSuccess"
        //Confirm = "seguro quieres hacer una prueba"
    };
}


<div class="" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        @using (Ajax.BeginForm("Buscar", "Accesos", options , new { @class = "form-horizontal  form-label-left", role = "form", id = "formAcceso" }))
                        {
                            @Html.Hidden("idRol", (string)ViewBag.Rolid)
                            @Html.AntiForgeryToken()
                            <div class="col-md-12 col-sm-12">
                                <br />
                                <div class="btn-group pull-right">
                                    <button id="btnAgregarTodos" type="button" class="btn btn-success">Agregar todos</button>
                                    <button id="btnQuitarTodos" type="button" class="btn btn-danger">Quitar todos</button>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Html.Label("Nombre", new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                                @Html.DropDownList("controlador", new SelectList(ViewBag.Controladores), "Todos los Controladores", new { @class = "form-control" })
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Html.Label("Descripcion", new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                                @Html.TextBox("descripcion", "", new { @class = "form-control col-md-7 col-xs-12" })
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                @Html.Label("Institucion", new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                                @Html.TextBox("institucion", nameInstitucion != null ? nameInstitucion : "", new { @class = "form-control col-md-7 col-xs-12" })
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <button style="margin-top:27.5px" type="submit" class="btn btn-sm btn-dark">Buscar</button>
                            </div>
                        }
                        <div class="ln_solid"></div>
                        <table id="datatable2" class="datatable2 table table-striped table-bordered dt-responsive nowrap" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Controlador</th>
                                    <th>Acción</th>
                                    <th>Descripción</th>
                                    <th>Permiso</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    

    $('#datatable2').on('click', '[data-activar]', function () {
        var t = $(this);

        var idas= t.data('id');
        var rol = t.data('rol');

        $.ajax({
            type: 'POST',
            url: '/Accesos/ActivarAcceso',
            data: { idaccesoSistema: idas, idRol: rol },
            complete: function () { }
        })
        .done(function (data) {
            if (data.result) {
                AlertSuccess('Se ha ' + t.data('msg') + ' el acceso exitosamente', null);
                BuscarPermisos(rol);
            } else {
                AlertError(data.message, null);
            }
        });
    });

    $('#btnAgregarTodos').click(function () {
        if (confirm('¿Desea agregar todos los accesos de la búsqueda a este rol?')) {

            var params = $('#formAcceso').serializeArray();
            params.push({
                name: 'rol',
                value: $('#formAcceso #idRol').val()
            });

            $.ajax({
                url: '/Accesos/AgregarTodos',
                type: 'post',
                data: params,
                success: function (e) {
                    if (e.result == true) {
                        AlertSuccess('Se han asignado todos los accesos al rol', null);
                        BuscarPermisos($('#formAcceso #idRol').val())
                    } else {
                        AlertError(e.message, '/Accesos/');

                    }
                }
            });
        }
    });

    $('#btnQuitarTodos').click(function () {
        if (confirm('¿Desea quitar todos los accesos de la búsqueda a este rol?')) {

            var params = $('#formAcceso').serializeArray();
            params.push({
                name: 'rol',
                value: $('#formAcceso #idRol').val()
            });
            $.ajax({
                url: '/Accesos/QuitarTodos',
                type: 'post',
                data: params,
                success: function (e) {
                    if (e.result == true) {
                        AlertSuccess('Se han quitado todos los accesos al rol', null);
                        BuscarPermisos($('#formAcceso #idRol').val());
                    } else {
                        AlertError(e.message, '/Accesos/');

                    }
                }
            });
        }
    });
</script>