@model MemotraficoV2.Models.Escuela
@{
    ViewBag.Title = "Edicion";

    var options = new AjaxOptions()
    {
        HttpMethod = "POST",
        OnSuccess = "onSuccessMsj",
        OnFailure = "onFailureMsj",
        OnBegin = "Loading(true)",
        OnComplete = "Loading(false)"
    };
}


<div class="" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Edicion de Escuela</h2>
                        <div class="clearfix"></div>
                        @* opciones modal cerrar encojer y opciones *@
                        <ul class="nav navbar-right panel_toolbox"></ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @using (Ajax.BeginForm("Edit", "Escuelas", options, new { @class = "form-horizontal  form-label-left", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.IdEscuela)
                            @Html.ValidationSummary("", new { @class = "text-error" })
                            <div class="item form-group">
                                @Html.LabelFor(m => m.Nombre, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })<span class="required">*</span>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control col-md-7 col-xs-12", @required = "required", @type = "text", @placeholder = "Nombre(s) Ej. JN Juan Escutia" })
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(m => m.Clave, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })<span class="required">*</span>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.Clave, new { @class = "form-control col-md-7 col-xs-12", @required = "required", @type = "text" })
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(m => m.Domicilio, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })<span class="required">*</span>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.Domicilio, new { @class = "form-control col-md-7 col-xs-12", @required = "required", @type = "text" })
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(m => m.IdMunicipioFk, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })<span class="required">*</span>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.DropDownList("IdMunicipioFk", new SelectList(ViewBag.Municipio, "id", "nombre"), "Todos", new { @class = "form-control col-md-7 col-xs-12", @required = "required" })
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(m => m.IdLocalidadFk, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })<span class="required">*</span>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.DropDownList("IdLocalidadFk", new SelectList(ViewBag.Localidad, "id", "nombre"), "Todos", new { @class = "form-control col-md-7 col-xs-12", @required = "required" })
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(m => m.IdNivelEducativo, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })<span class="required">*</span>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.DropDownList("IdNivelEducativo", new SelectList(ViewBag.NivelEducativo, "id", "nombre"), "Todos", new { @class = "form-control col-md-7 col-xs-12", @required = "required" })
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(m => m.Turno, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })<span class="required">*</span>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.Turno, new { @class = "form-control col-md-7 col-xs-12", @required = "required", @type = "text" })
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(m => m.Geox, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.Geox, new { @class = "form-control col-md-7 col-xs-12", @type = "text" })
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(m => m.Geoy, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.Geoy, new { @class = "form-control col-md-7 col-xs-12", @type = "text" })
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(m => m.NombreDirector, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })<span class="required">*</span>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.NombreDirector, new { @class = "form-control col-md-7 col-xs-12", @required = "required", @type = "text" })
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(m => m.EmailDirector, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })<span class="required">*</span>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.EmailDirector, new { @class = "form-control col-md-7 col-xs-12", @required = "required", @type = "text" })
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(m => m.Telefono, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })<span class="required">*</span>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control col-md-7 col-xs-12", @required = "required", @type = "text" })
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(m => m.Celular, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })<span class="required">*</span>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.Celular, new { @class = "form-control col-md-7 col-xs-12", @required = "required", @type = "text" })
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-9 col-md-offset-5">
                                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-primary" })
                                    <button id="send" class="btn btn-success">Guardar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>