@model IEnumerable<MemotraficoV2.ViewModels.EscuelaValidacion>

@{
    ViewBag.Title = "Validaciones Escuelas";
    string rol = MemotraficoV2.Models.Usuarios.Roles();
    int inst = MemotraficoV2.Models.Usuarios.GetInstitucion();

    const string ADMINISTRADOR_DEPENDENCIA = MemotraficoV2.Models.Colecciones.ListaRoles.ADMINISTRADOR_DEPENDENCIA;
    const string ADMINISTRADOR_SOLICITUDES = MemotraficoV2.Models.Colecciones.ListaRoles.ADMINISTRADOR_SOLICITUDES;
    const string OPERADOR = MemotraficoV2.Models.Colecciones.ListaRoles.OPERADOR;
    const string ADMINISTRATOR = MemotraficoV2.Models.Colecciones.ListaRoles.ADMINISTRATOR;
}

<div class="" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">

            </div>

        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        @* titulo *@
                        <h2>Validaciones por escuela</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable" style="width: 100%" class="table table-validaciones table-striped table-bordered dt-responsive nowrap">
                            <thead>
                                <tr class="text-center">
                                    <th class="col-md-3">Nombre</th>
                                    <th>Clave</th>
                                    <th class="text-center"># Validaciones</th>
                                    <th class="text-center">Fecha Validacion</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Nombre</td>
                                        <td class="text-center">@item.Clave</td>
                                        <td class="text-center">@item.TotalValidaciones</td>
                                        <td class="text-center">@item.UltimaValidacion</td>

                                        <td>
                                            <a href="@(Url.Action("ValidacionEscolar",
                                                                        "Validaciones",
                                                                        new {
                                                                            escuela = item.Id,
                                                                            solicitud = " ",
                                                                            crear = 0
                                                                        }))"
                                                    type="button" class="btn btn-primary btn-sm">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                            <a href="@(Url.Action("ValidacionEscolar",
                                                                        "Validaciones",
                                                                        new {
                                                                            escuela = item.Id,
                                                                            solicitud = " ",
                                                                            crear = 1
                                                                        }))"
                                                    type="button" class="btn btn-primary btn-sm">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <button name="Validacion"
                                                    type="button" class="btn btn-primary btn-sm"
                                                    data-toggle="modal" data-target=".bs-example-modal-lg"
                                                    value="@item.Id">
                                                <i class="fa fa-list"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title text-center" id="Titulo"></h4>
            </div>
            <div class="modal-body">
            </div>

        </div>
    </div>
</div>